[Unit]
Description=Astroberry OS web desktop service

[Service]
Type=simple
User=astroberry
Environment=HOME=/home/astroberry
ExecStart=tigervncserver -display :70 -desktop astroberry -SecurityTypes None -NeverShared -DisconnectClients -localhost yes -UseIPv6 no -geometry 1920x1080 -depth 24 -fg -xstartup startxfce4
ExecStop=tigervncserver -kill
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
