Source: astroberry-os-sysmod
Section: science
Priority: extra
Maintainer: Astroberry <contact@astroberry.io>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.8)
Standards-Version: 3.9.1
Homepage: http://www.astroberry.io/

Package: astroberry-os-sysmod
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, astroberry-artwork, fonts-roboto,
 cloud-init, polkitd, network-manager, network-manager-applet, nm-connection-editor,
 lightdm-gtk-greeter, xfce4-panel, xfce4-session, xfce4-settings,
 samba, avahi-daemon, caddy, tigervnc-standalone-server, tigervnc-scraping-server,
 python3-websockify, python3-indiweb, gpsd, gpsd-tools, apparmor-utils
Description: Operating system mods and tweaks for Astroberry OS
