Source: astroberry-os-sysmod
Section: science
Priority: extra
Maintainer: Astroberry <contact@astroberry.io>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.8)
Standards-Version: 3.9.1
Homepage: http://www.astroberry.io/

Package: astroberry-os-sysmod
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, astroberry-artwork, fonts-roboto,
 polkitd, caddy, network-manager, network-manager-applet, nm-connection-editor,
 tigervnc-standalone-server, tigervnc-scraping-server, samba, avahi-daemon,
 gpsd, gpsd-tools, apparmor-utils
Description: Operating system mods and tweaks for Astroberry OS
