[Unit]
Description=Astroberry OS Web Manager
Wants=vncserver.service
Wants=indiwebmanager.service
Wants=websockify.service
After=multi-user.target

[Service]
Type=idle
User=astroberry
Environment=TERM=xterm-256color
ExecStart=sh -c "/opt/astroberry-manager/bin/astroberry-manager"
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
